
{% extends "nav.html" %}

{% block title %}Blog Upload{% endblock  %}

{% block style %}

    .doc_up_blog_wrapper{
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        border: 2px solid #2980b9;
        width: 100vw;
        height: 100vh;   
        background-color: #f4f4f4;
    }

    .doc_blog_header {
        color: #000000;
        text-align: center;
        padding: 10px;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .blog_main_container{
        height: fit-content;
        background-color: #f4f4f4;

        padding-bottom: 20px;

    }

    .blog_main {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .doc_blog_header > h1 {
        color: #333;
    }

    .blog-container {
        margin-top: 20px;
        border-radius: 10px;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .blog {
        border: 1px solid #ddd;
        padding:  10px;
        width:520px;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 10px;
    }

    .blog h2 {
        color: #331c08;
        font-family: "Kalnia", serif;
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-style: normal;
    }

    .blog p {
        color: #555;
    }

    
    .blog_content{
        width: 500px;
    }

    .blog_content > p{
        font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.3;
    }

    .blog_buttons{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;

    }

    .blog_buttons {
    margin-top: 10px;
    text-align: right;
    }

    .full_blog_button,
    .edit_blog_button {
        background-color: #3498db;
        color: #fff;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
        font-size: 14px;
    }

    .full_blog_button:hover,
    .edit_blog_button:hover {
        background-color: #2980b9;
    }

    .doc_up_blog_nav {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;

    }
    
    .doc_up_blog_nav > a {
        color: black;
        text-decoration: none;
        padding: 8px 16px;
        border: 2px solid #2980b9;
        border-radius: 10px;
        font-size: 16px;
    }
    
    .doc_up_blog_nav > a:hover {
        background-color: #2980b9;
        color: white;
        border: 2px solid black;

    }

    .date_time{
        font-size: 0.7em;
    }

    @media (max-width: 768px) {
        .doc_up_blog_nav {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }


{% endblock  %}

    {% block content%}

<div class="doc_up_blog_wrapper">

    <div class="doc_up_blog_nav">
    <header class="doc_blog_header">
        <h1>Your Blogs</h1>
    </header>


    <a href="/blog/Blog-upload?doc_id={{ doc_id }}"> Upload Blog </a>

    </div>

    {% for doc_blog in doc_blogs %}
    <div class="blog_main_container">
    <main class="blog_main">

        <div class="blog_outer_container">


        <div class="blog-container">
                <div class="blog">
                    <h2>{{ doc_blog.blog_title }}</h2>
                    <p>Author: Dr. {{ doc_blog.publisher }}</p>

                    <p class="date_time">Date: {{ doc_blog.date_time }}</p>
                    {% if doc_blog.last_edit %}
                    <p class="date_time">Last updated: {{ doc_blog.last_edit }}</p>
                    {% endif %}

                    <div class="blog_content">
                        <p>{{ doc_blog.blog_content }}</p>
                    </div>
                </div>

                
                <div class="blog_buttons">
                    <button class="full_blog_button" ><a href="/blog/full-blog?blog_key={{doc_blog.key}}">See full blog</a></button>
                    <button class="edit_blog_button"><a href="/blog/blog-edit?blog_key={{ doc_blog.key}}">Edit Blog</a></button>
                </div>
    

            </div>
        </div>
        
    </main>
    {% endfor %}
</div>
        </div>
        
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var blogs = document.querySelectorAll(".blog_content");
        
                blogs.forEach(function(blog) {
                    blog.setAttribute("data-full-content", blog.innerHTML);
                    blog.innerHTML = blog.innerHTML.substr(1, 350) + "...";
                });
            });
        </script>


    {% endblock %}